.todo{
    width: 354px;
    height: 625px;
    background: #8a5b5b;
    border-radius: 16px 16px 0px 0px; 
    .cards{
        width: 314px;
        height: 177px;

        background: #FFFFFF;
        border-radius: 16px;        
    }   
}